@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}



ul {
  list-style: none
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  height: calc(100vh - 150px);
  background: no-repeat center/cover url('/img/macchu01.jpeg');
}


header nav {
  display: flex;
  justify-content: space-between;
  margin: 0 30px;
  color: #fff;
}

header nav p {
  cursor: pointer;
  font-weight: bold;
  font-size: 1.5em;
  transition: text-shadow .6s ;
}
header nav p:hover {
  text-shadow: 0px 0px 10px #fff;
}

header nav p {
  cursor: pointer;
  font-weight: bold;
  font-size: 15px;
  transition: text-shadow .6s ;
}
header nav p:hover {
  text-shadow: 0px 0px 1rem #fff;
}

header nav ul {
  list-style: none;
  display: flex;
}

header nav ul li {
  margin: 0 15px;
  font-weight: 600;
  cursor: pointer;
}

header nav ul li:hover {
  color: #f56c11;
  transition: .4s;
}


.header-content {
  color: #fff;
  font-weight: bold;
  max-width: 400px;
  margin: 150px auto;
  text-align: center;
  animation: ease text-move 2s forwards;
}


.header-content h1 {
  margin-bottom: 10px;
  font-size: 4rem;
}

@keyframes text-move{
  from {transform:  translateY(0px);
        opacity: 0;}
  to {transform:   translateY(-20px);
      opacity: 1;}
}
button {
  padding: 10px 15px;
  border-radius: 8px;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  border: 0;
  cursor: pointer;
  background-color: rgb(248, 124, 7);
  color: #fff;
}

/* PACOTES */

.pacotes {
  background-color: rgba(235, 231, 231, 0.363);
  padding: 25px;
}

.pacotes .pacotes-cards {
  /* background: #333; */
  margin: auto;
  max-width: 950px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.pacotes .pacotes-title { 
  width: 100%;
  margin: auto;
  padding: 15px;
  text-align: center;
}


.pacotes .card {
  margin: 25px;
  width: 250px;
  height: 350px;
  background: #fff;
  border-radius: 24px 0px;
  box-shadow: 0px 0px 4px -1px #222;
  position: relative;
  transition: all 1s;
}

.pacotes .card:hover {
  transform: scale(1.1);
}


.pacotes .card-image {
  width: 250px;
  height: 200px;
  border-radius: 24px 0 0 0;
  object-fit: cover;
}

.pacotes .card-content {
  padding: 0 15px;
}

.pacotes .card-content h1 {
  font-size: 0.9rem;
}

.pacotes .card-content ul  {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding-left: 0;
}

.pacotes .card-content ul li {
  font-size: 0.6rem;
  display: flex;
  align-items: center;
  margin: 3px 0px;
  color: gray;
  font-weight: bold;
}

.pacotes .card-content li svg {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

.pacotes .card .card-tag-top{
  position: absolute;
  background: #f56c11;
  right: 0;
  top: 15px;
  border-radius: 8px 0 0 8px;
  padding: 5px 10px;
  box-shadow: 1px 2px 5px -2px #222;
}


.pacotes .card .card-tag-bottom {
  position: absolute;
  left: 0;
  top: 160px;
  background: #1d61dd;
  border-radius: 0 8px 8px 0;
  padding: 5px 10px;
  box-shadow: 1px 1px 4px 1px #222;
}

.pacotes .card .card-tag p {
  margin: 0;
  font-size: 0.8rem;
  font-weight: bold;
  color: #ffff;
}

/* SERVIÇOS */


.servicos {
  padding: 6.5rem;
}

.servicos .servicos-titulo {
  text-align: center;
  margin: 2.5rem;
}

.servicos .servicos-cards {
  display: flex;
  padding: 3.5rem 0 ;
  max-width: 95rem;
  justify-content: center;
  flex-wrap: wrap;
  margin: auto;
}

.servicos .card {
  width: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 2rem;
}

.botao01{
  margin-top: 25%;
}


.servicos .card svg {
  width: 6rem;
  height: 6rem;
  margin: 5rem 0;
  transition: all 1s;
}

.servicos .card svg:hover {
  color: #f56c11;
  transform: scale(1.1);
}

.servicos .card h3 {
  font-weight: bold;
}

.servicos .card p {
  color: gray;
  font-size: 0.9rem;
  text-align: center;
}

.servicos .card .card-content {
  height: 10rem;
  text-align: center;
  margin-bottom: 5rem;
}

/* Set the size of the div element that contains the map */
.sec03 {
  height: auto;  /* The height is 400 pixels */
  width: 100%;  /* The width is the width of the web page */
}


.carousell {
  
  background-color: rgba(235, 231, 231, 0.363);
  position: relative;
  display: flex;
  width: 100%;

  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
  color: white;
  padding-bottom: 4rem;

}

.carousell .carousell-card {
  width: 35rem;
  height: 30rem;
  padding: 0 3rem;
  background: #fff;
  position: absolute;
  z-index: 99;

  border-radius: 0.8rem;

  top: calc(50% - 15rem);
  left: calc(20% - 17rem);

  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 0.1rem 0.6rem 0 rgba(32, 33, 36, .28);
}

.carousell .carousell-card  h1 {
  padding-right: 5.8rem;
}

.carousell .carousell-card li {
  font-size: 0.8rem;
  font-weight: bold;
  color: gray;
  
  display: flex;
  align-items: center;
}

.carousell .carousell-card li svg {
  width: 1.6rem;
  margin: 1rem;
}

footer {
  background-color: #464545;
  color: #fff;
  height: 50px;
  width: 100%;
  bottom: 0;
  text-align: center;
}

footer p {
  margin: 0;
  font-size: 0.8rem;
}

footer .social-media {
  display: flex;
  justify-content: space-around;
  margin: 1 0;
}

footer .social-media a {
  font-size: 1.2rem;
  transition: all 0.3s ease-in-out;
}

footer .social-media a:hover {
  color: #f56c11;
}

/* CAROUSEL */
.container-galeria{
  height: 620px;
  width: 1135px;
  /* Arredonda o container */
  border-radius: 20px;
  /* Não deixou o container expandir */
  overflow: hidden;
  /* Segue o pai */
  position: absolute;
  top: 22%;
  left: 50%;
  /* Centraliza em 50% da tela */
  transform: translate(-50%, -50%);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.container-galeria .slide img{
  height: 100%;
  width: 100%;
}

.navegacao{
  top: 32.5%;
  position: absolute;
  bottom: 160px;
  left: 45%;
  display: flex;
}

.b-navegacao{
  width: 15px;
  height: 15px;
  border: 2px solid white;
  margin: 6px;
  border-radius: 15px;
  cursor: pointer;
  transform: .5s ease;
}

.b-navegacao:hover{
  background-color: white;
}

input{
  display: none;
}

.slides{
  display: flex;
  width: 500%;
  height: 100%;
}

.slide{
  width: 20%;
  transition: .6s;
}

#slide1:checked ~ .pos1{
  margin-left: 0;
}

#slide2:checked ~ .pos1{
  margin-left: -20%;
}

#slide3:checked ~ .pos1{
  margin-left: -40%;
}

#slide4:checked ~ .pos1{
  margin-left: -60%;
}
#slide5:checked ~ .pos1{
  margin-left: -80%;
}

.caption {
  position: absolute;
  bottom: 5%;
  left: 0;
  width: 100%;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  text-align: center;
}

.servicos-titulo {
  text-align: center;
  font-size: x-large;
  margin: 2.5rem;
  justify-content: center;
  margin-bottom: 3%;
  color: #333;
}

.container-info {
  position: relative;
  margin-top: 60%;
  text-align:justify;
  width: 60%;
  padding: 0 2rem;
  font-family: 'Montserrat', sans-serif;
  color: #333;

}

.container-info h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  font-weight: 600;
}

.container-info p {
  font-size: 1.4rem;
  line-height: 1.8;
  margin-bottom: 2rem;
  font-weight: 400;
}
.container {
  width: 50%;
  margin: 50px auto;
  background-color: rgba(235, 231, 231, 0.363);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}

h2 {
  text-align: center;
}

.input-group {
  margin-bottom: 15px;
}

label {
  display: block;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 8px;
  border-radius: 3px;
  border: 1px solid #ccc;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

@media screen and (max-width: 600px) {
  .container {
    width: 80%;
  }
}


/* RESPONSIVIDADE */

@media (max-width: 1300px){
  /* CAROUSEL */
.container-galeria{
  height: 450px;
  width: 850px;
  top: 15%;
}

.navegacao{
  top: 20.5%;
  left: 44%;
}
}

@media (max-width: 1100px){
  /* CAROUSEL */
.container-galeria{
  top: 12%;
}

.navegacao{
  top: 17.15%;
}
}

@media (max-width: 950px){
  /* CAROUSEL */
.container-galeria{
  height: 400px;
  width: 800px;
  top: 10%;
}

.navegacao{
  top: 14%;
}
}

@media (max-width: 855px){
  /* CAROUSEL */
.container-galeria{
  height: 350px;
  width: 600px;
  top: 12%;
}

.navegacao{
  top: 17.5%;
}
.caption {
  font-size: 50%;
}
.container-info {
  width: 75%;
  top: 25%;
}
}


@media (max-width: 670px){
  /* CAROUSEL */
.container-galeria{
  height: 300px;
  width: 550px;
  top: 8.5%;
}

.navegacao{
  top: 12.3%;
  left: 39%;
}

.caption {
  font-size: 55%;
}

}

@media (max-width: 550px){
  /* CAROUSEL */
.container-galeria{
  height: 280px;
  width: 480px;
  top: 7.5%;
}

.navegacao{
  top: 10.8%;
  left: 39%;
}



}


/* Para mobile */
@media (max-width: 480px) {
  body {
    margin-bottom: 55px;
  }
  
  header nav ul {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0;
    margin: 0;

    z-index: 100;
    
    background: #073da1;
    color: #fff;
    font-weight: bold;
    height: 55px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  header nav p {
    width: 100%;
    text-align: center;
  }
  
  .container-info {
    width: 75%;
  
  }
  .card{
    margin-bottom: 100px ;
  }

  /* CAROUSEL */
.container-galeria{
  height: 200px;
  width: 350px;
  top: 5%;
}

.caption {
  font-size: 40%;
}

.navegacao{
  top: 6.85%;
  left: 36%;
}

}

